.list-component {
	background: #EEEEEE;
	border-radius: 10px;
	border: 1px solid #CCCCCC;
	font-family: Verdana, Arial, 'sans serif';
	font-size: 14px
}

.list-component .list-component-header {
	display: flex;
	padding: 20px
}

.list-component .controls {
	display: flex;
	margin-left: auto;
	flex-direction: column;
	justify-content: center
}

.list-component .button {
	display: flex;
	color: #000000;
	width: 40px;
	height: 40px;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	border-radius: 50%
}

.list-component .controls .header-controls-box {
	display: flex
}

.list-component .list-component-header .list-info-box .list-name {
	margin: 0;
	font-weight: 400;
	font-size: 1.3em
}

.list-component .list-component-header .list-info-box .list-name .total-count {
	background: #DC143C;
    display: inline-block;
    font-style: normal;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 2px 5px;
    text-align: center;
    font-size: .7em;
    width: 12px;
    position: relative;
    top: -4px
}

.list-component .list-component-header .list-info-box .total {
	margin: 0;
	color: #999999
}

.list-component .slide-wrap {
	overflow: hidden
}

.list-component .slide-wrap .slide-wrap-ul {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	list-style: none
}

.list-component .slide-wrap .slide-wrap-ul li {
	border-bottom: 1px solid #CCCCCC;
	padding: 20px;
	display: flex
}

.list-component .slide-wrap .slide-wrap-ul li:first-child {
	border-top: 1px solid #CCCCCC;
}

.list-component .slide-wrap .slide-wrap-ul li.new {
	border-left: 5px solid #1E90FF
}

.list-component .slide-wrap .slide-wrap-ul li .icon {
	display: none
}

.list-component .slide-wrap .slide-wrap-ul li .item-contents .item-contents-title {
	font-size: 1em;
	margin: 0 0 4px;
	text-transform: capitalize
}

.list-component .slide-wrap .slide-wrap-ul li .item-contents .item-contents-subtitle {
	font-size: 1em;
	margin: 0;
	font-weight: 400;
	text-transform: capitalize
}

.list-component .slide-wrap .slide-wrap-ul li .truncate,
.list-component .slide-wrap .slide-wrap-ul li .date {
	font-size: 1em;
	margin: 5px 0;
	color: #999999;
	text-transform: capitalize
}

.list-component .list-component-footer {
	text-align: center;
	padding: 20px
}

.list-component .list-component-header .header-controls .header-controls-box .fa-sort-down {
	margin-top: -5px
}

.list-component .slide-wrap .slide-wrap-ul li .options {
	display: flex
}

.list-component .slide-wrap .slide-wrap-ul li .options .options-button {
	display: flex;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	min-width: auto
}

.list-component .slide-wrap .slide-wrap-ul li .options .options-button.download {
	background: #008000
}

.list-component .slide-wrap .slide-wrap-ul li .options .options-button.delete {
	background: #FF0000;
	vertical-align: middle
}

.list-component .slide-wrap .slide-wrap-ul li .options .options-button .fa {
	color: #FFFFFF
}

@media only screen and (min-width: 768px) {
	.list-component {
		font-size: 16px
	}

	.list-component .slide-wrap .slide-wrap-ul li:hover {
		cursor: pointer
	}

	.list-component .slide-wrap .slide-wrap-ul li .icon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 30px 0 5px
	}

	.list-component .slide-wrap .slide-wrap-ul li .icon .image {
		width: 70px;
		height: 70px;
		background-color: #EEEEEE;
		background-size: contain;
		border-radius: 50%;
		border: 1px solid #CCCCCC;
		color: #CCCCCC;
		text-align: center;
		font-size: 2.5em;
		display: flex;
		flex-direction: column;
		justify-content: center
	}

	.list-component .list-component-header .header-controls .button:hover {
		background: #CCCCCC
	}

	.list-component .slide-wrap .slide-wrap-ul li .elipse .button:hover {
		border: 2px solid #CCCCCC
	}

	.list-component .slide-wrap .slide-wrap-ul li .options .options-button {
		min-width: 100px
	}

	.list-component .slide-wrap .slide-wrap-ul li .options .options-button .button:hover {
		box-shadow: 0px 2px 5px rgba(0, 0, 0, .5)
	}
}
