<section class="list-component">
	<header class="list-component-header">
		<div class="list-info-box">
			<h2 class="list-name">List Name <i class="new total-count">{{totalNew}} </i></h2>
			<p class="total">Total {{items.length}}</p>
		</div>
		<div class="controls header-controls">
			<div class="header-controls-box">
				<a href="#" class="button" (click)="addItem()"><i class="fa fa-plus"></i></a>
				<a href="#" class="button" (click)="toggleState()"><i class="fa fa-sort-down"></i></a>
			</div>
		</div>
	</header>

	<div class="slide-wrap" [@openClose]="state">
		<ul class="slide-wrap-ul">
			<li *ngFor="let x of items; let i = index" [ngClass]="{'new': x.new}">
				<div class="icon">
					<div class="image" [ngStyle]="(x.icon) ? {'background-image': 'url('+x.icon+')'} : {}">
						<i class="fa fa-image" *ngIf="!x.icon"></i>
					</div>
				</div>
				<div class="item-contents">
					<h3 class="item-contents-title">{{x.title}}</h3>
					<h4 class="item-contents-subtitle">{{x.subtitle}}</h4>
					<p class="truncate">{{x.description | truncate:[80] }}</p>
					<p class="date"><i class="fa fa-calendar"></i> {{x.date | date:"EE MMMM d y"}}</p>
				</div>
				<div class="controls elipse" (click)="showContent(this, i);">
					<a href="#" class="button"><i class="fa fa-ellipsis-v"></i></a>
				</div>
				<div class="options" *ngIf="selectedIndex == i">
					<div class="options-button download" (click)="downloadItem(x)">
						<a href="#" class="button"><i class="fa fa-download fa-2x"></i></a>
					</div>
					
					<div class="options-button delete" (click)="deleteItem(x)">
						<a href="#" class="button"><i class="fa fa-trash fa-2x"></i></a>
					</div>
				</div>
			</li>
		</ul>

		<footer class="list-component-footer">
			<a href="#">Load more</a>
		</footer>
	</div>
</section>
